/*
Styles for the sidebar are dependend on classes on the root because media queries are handled in javascript to be triggerable by events
*/
aside,
aside.menu-m,
aside.menu-overlay {
  background: #fff;
  position: fixed;
  z-index: 2;
  width: 15rem;
  left: -15rem;
  top: 4rem;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  font-size: 0.8rem;
  transition: all 0.25s;
}
aside.menu-s {
  grid-row: 2/3;
  left: 0;
  width: 4.4rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.6rem;
}
aside.menu-m,
aside.menu-overlay {
  width: 15rem;
  left: 0;
}
.nav-side > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-side h3,
.nav-side .footer {
  padding-left: 1.6rem;
  padding-right: 1rem;
}
.nav-side > *:not(ul:first-of-type) {
  display: block;
}
aside.menu-s .nav-side > *:not(ul:first-of-type) {
  display: none;
}
.list-item-compact {
  display: none;
}
aside.menu-s .list-item-compact {
  display: block;
}
.nav-side ul {
  border-bottom: solid 2px #e6e6e6;
}
aside.menu-s .nav-side ul {
  padding: unset;
  border-bottom: unset;
}
.nav-side li {
  padding: unset;
}
aside.menu-s .nav-side li {
  padding: 1rem 0;
}
.nav-side h3 {
  padding-bottom: unset;
}
.nav-side a {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
aside.menu-s .nav-side a {
  display: block;
  padding: unset;
}
.nav-side i {
  flex: 0 0 auto;
  width: 4.4rem;
  padding: 0 0 0.8rem 0;
  text-align: center;
  display: inline-block;
  padding: unset;
}
.nav-side span {
  display: inline-block;
}
aside.menu-s .nav-side span {
  padding: 0.5rem 0 0 0;
}
.skiplink {
  position: absolute;
  top: -9999px;
}
