@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  -webkit-appearance: none;
  appearance: none;
}
body {
  background: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #a9a9a9;
}
img {
  width: 5rem;
}
aside {
  display: none;
}
@media screen and (min-width: 60em) {
  aside {
    display: block;
    background: #add8e6;
    width: 15rem;
  }
}
a,
i {
  text-decoration: none;
  color: #4d4d4d;
}
.logo {
  font-weight: 700;
  color: #f00;
}
i {
  font-size: 1.1rem;
}
.nav-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
}
.left {
  flex: 2 1 100%;
}
.center {
  flex: 1 2 auto;
}
.right {
  flex: 2 1 100%;
  display: flex;
  justify-content: flex-end;
}
.search-form,
.search-form fieldset {
  display: none;
}
@media screen and (min-width: 45em) {
  .search-form,
  .search-form fieldset {
    display: block;
  }
}
@media screen and (min-width: 45em) {
  .search-form fieldset {
    display: grid;
    grid-template-columns: 1fr 60px;
    border-radius: 2px;
  }
}
.search-form fieldset > * {
  border: none;
}
.search-input {
  grid-column: 1/2;
  width: 30vw;
  padding: 0.5rem 0.8rem;
}
.search-button {
  grid-column: 2/3;
}
.nav-top a,
.nav-top button {
  padding: 0.5rem 0.8rem;
}
@media screen and (min-width: 45em) {
  .search-icon {
    display: none;
  }
}
