// stylus -w styles.styl -o styles.css

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap")

$bp-mobile = 10em
$bp-phablet = 20em
$bp-desktop = 40em

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  /* display: flex */
  /* flex-flow: row */
  /* align-items: center */
  background: white
  font-family: "Fira Sans", sans-serif
  font-weight: 400
  color: darkgrey

img
  width: 5rem

aside
  display: none

a
i
  text-decoration: none
  color: hsla(100,0%,30%,100%)

.logo
  font-weight: 700
  color: red

i
  // display: inline-block
  font-size: 1.1rem

.nav-top
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  // height: 3rem
  // padding: 1rem

.left
  flex: 1 1 100%

.center
  flex: 0 1 0
  // padding: 0.6rem

.right
  flex: 1 1 100%

.search
  display: none

.nav-top a
.nav-top button
  padding: 0.6rem
