// stylus -w styles.styl -o styles.css

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap")

$bp-nav-top-xs = 27em
$bp-nav-top-s = 43em
$bp-nav-top-m = 65em

$top-row-height = 4rem

$sidebar-width-m = 4.4rem
$sidebar-width-l = 15rem

$bp-channel-s = 30em
$bp-channel-m = 45em
$bp-channel-l = 63em
$bp-channel-xl = 71em
$bp-channel-xxl = 89em

$content-max-width-s = 15rem
$content-max-width-m = $bp-channel-s - 2rem
$content-max-width-l = $bp-channel-m - 2rem
$content-max-width-xl = $bp-channel-l - 2rem
$content-max-width-xxl = $bp-channel-xl - 2rem
$content-max-width-xxxl = $bp-channel-xxl - 2rem

$space-content = 1rem
$space-unit = 1.5rem

$space-icons-small = 0.5rem
$space-icons-large = 0.8rem

$box-radius = 3px
$base-font-size = 0.9rem
$transition-duration = 0.25s

$color-text = hsla(100,0%,30%,100%)
$color-bg-m = hsla(100,0%,90%,100%)
$color-channel = #f9f9f9
$color-content = #f1f1f1

*
  box-sizing border-box
  margin 0
  padding 0

body
  background $color-content
  color $color-text
  font-family "Fira Sans", sans-serif
  font-weight 400
  font-size $base-font-size
  overflow-wrap break-word
  word-wrap break-word
  word-break break-word
  @media screen and (min-width $bp-nav-top-s)
    display grid
    grid-template-rows $top-row-height 1fr

a
  text-decoration none
  color $color-text

li
  list-style-type none

input
  -webkit-appearance none;
  appearance none;

button
  padding $space-icons-small $space-icons-large
  background none
  border none
  border-radius $box-radius
  font-family "Fira Sans", sans-serif
  font-weight 500
  font-size 0.8rem
  text-transform uppercase

img
  width 100%

i
  font-size 1.1rem

h1
h2
h3
h4
  font-weight 500
  font-size $base-font-size

h1
h2
  font-size 1.2rem
  padding 0 0 0.55rem
  @media screen and (min-width $bp-channel-m)
    font-size 1.5rem

.nav-top
  position fixed
  z-index 2
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-items center
  top 0
  width 100%
  height $top-row-height
  padding 0 $space-content 0 0
  background white
  @media screen and (min-width $bp-nav-top-s)
    grid-row 1/2
    padding unset

.nav-top .left
  flex 0 0 auto
  display flex
  align-items center

.nav-top .center
  flex 1 1 100%
  display flex
  flex-flow row nowrap
  @media screen and (min-width $bp-nav-top-s)
    padding 0 10vw

.nav-top .right
  flex 0 0 auto
  display flex
  justify-content flex-end

.nav-top a
.nav-top button
  padding $space-icons-small $space-icons-large

.nav-top .hamburger
  display inline-block
  width 2.4rem
  height @width
  margin 0 ( ($sidebar-width-m - @width) / 2 )
  padding 0
  text-align center
  clip-path circle(50%)
  transition background 0.2s ease

.nav-top .hamburger:active
.nav-top .hamburger:focus
  background hsl(100, 0%, 70%)

.nav-top .logo
  padding-left unset

.nav-top .logo-img
  width 5rem

.nav-top .search-form
  display none
  @media screen and (min-width $bp-nav-top-s)
    flex 1 1 100%
    display block

.nav-top .search-form fieldset
  @media screen and (min-width $bp-nav-top-s)
    display grid
    grid-template-columns 1fr 80px
    border-radius $box-radius

.nav-top .search-form fieldset > *
  border none

.nav-top .search-input
  grid-column 1/2
  display block
  width 100%
  padding $space-icons-small $space-icons-large

.nav-top .search-button
  grid-column 2/3
  background hsl(100, 0%, 90%)
  border-radius 0px

.nav-top .search
  @media screen and (min-width $bp-nav-top-s)
    display none

.nav-top .voice
.nav-top .notifications
  display none
  @media screen and (min-width $bp-nav-top-xs)
    display inline

.nav-top .voice
  flex 0 0 auto

/*
Styles for the sidebar are dependend on classes on the root because media queries are handled in javascript to be triggerable by events
*/

aside
  background white
  position fixed
  z-index 2
  width $sidebar-width-l
  left -($sidebar-width-l)
  top $top-row-height
  bottom 0
  overflow-x hidden
  overflow-y scroll
  text-align left
  font-size 0.8rem
  transition all $transition-duration

aside.menu-s
  grid-row 2/3
  left 0
  width $sidebar-width-m
  overflow hidden
  text-align center
  font-size 0.6rem

aside.menu-m
  @extend aside
  width $sidebar-width-l
  left 0

aside.menu-overlay
  @extend aside.menu-m

.nav-side > *
  padding-top $space-content
  padding-bottom @padding-top

.nav-side h3
.nav-side .footer
  padding-left 1.6rem
  padding-right $space-content

.nav-side > *:not(ul:first-of-type)
  display block

aside.menu-s .nav-side > *:not(ul:first-of-type)
  display none

.list-item-compact
  display none

aside.menu-s .list-item-compact
  display block

.nav-side ul
  border-bottom solid 2px hsla(100,0%,90%,100%)

aside.menu-s .nav-side ul
  padding unset
  border-bottom unset

.nav-side li
  padding unset

aside.menu-s .nav-side li
  padding $space-content 0

.nav-side h3
  padding-bottom unset

.nav-side a
  display flex
  align-items center
  padding $space-icons-small 0

aside.menu-s .nav-side a
  display block
  padding unset

.nav-side i
  flex 0 0 auto
  width $sidebar-width-m
  padding 0 0 $space-icons-large 0
  text-align center
  display inline-block
  padding unset

.nav-side span
  display inline-block

aside.menu-s .nav-side span
  padding $space-icons-small 0 0 0

.skiplink
  position absolute
  top -9999px

/*
MAIN also needs to react to media query controlled classes to adapt to the sidebar
*/

main
  position absolute
  top 0
  width 100%
  padding $top-row-height 0 0 0
  transition margin-left $transition-duration

main.menu-s
  width "calc(100% - %s)" % ($sidebar-width-m)
  margin $top-row-height 0 0 $sidebar-width-m
  padding-top 0

main.menu-m
  width "calc(100% - %s)" % ($sidebar-width-l)
  margin $top-row-height 0 0 $sidebar-width-l
  padding-top 0

main.menu-overlay
  z-index -1

.overlay
  display none
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100%
  height 100%
  background hsla(100, 0%, 0%, 70%)

header
  height 16vw
  background no-repeat url(../images/banner-linkedin.png)
  background-size cover
  background-position center center

.channel
  background $color-channel

.channel-info
.content
  margin 0 auto
  padding-left 5px
  padding-right @padding-left

.channel-info
  padding-top $space-unit
  @media screen and (min-width $bp-channel-s)
    display flex
    flex-flow row nowrap
    justify-content space-between
    max-width $content-max-width-m
  @media screen and (min-width $bp-channel-m)
    display grid
    grid-template-columns 100px 1fr
    column-gap $space-content
  @media screen and (min-width $bp-channel-l)
    display flex
    max-width 80%

.channel-info div:nth-child(2)
  margin 0 0 $space-content 0
  @media screen and (min-width $bp-channel-s)
    flex 0 0 auto
  @media screen and (min-width $bp-channel-m)
    grid-column 2/3
  @media screen and (min-width $bp-channel-l)
    flex 1 0 auto

.channel-info div:nth-child(3)
  @media screen and (min-width $bp-channel-s)
    flex 0 1 auto
  @media screen and (min-width $bp-channel-m)
    grid-column 2/3

.channel-avatar
  display none
  @media screen and (min-width $bp-channel-m)
    grid-row 1/3
    display block
    width 80px

.channel-info .check
  margin 0 0 0 $space-icons-small
  font-size 0.8rem

.channel-info p
  font-size 0.8rem

.join
  border solid 1px mediumblue
  color mediumblue

.subscribe
  margin 0 $space-icons-small
  background $color-bg-m
  color $color-text

.nav-channel
  padding $space-unit 0 0 2.5rem
  text-align center
  text-transform uppercase
  font-weight 500
  font-size 0.8rem

.nav-channel-list
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-items center
  width 50rem

.nav-channel-list li
  flex 1 1 auto
  padding 0 0 $space-icons-small 0

.nav-channel-list:nth-child(1)
  flex 1 1 8rem

.nav-channel-list:nth-child(2)
  flex 2 1 auto

.nav-channel-list .item-active-link
  border-bottom 3px solid $color-text
  margin-bottom -3px

.content
  max-width $content-max-width-s
  @media screen and (min-width $bp-channel-s)
    max-width $content-max-width-m
  @media screen and (min-width $bp-channel-m)
    max-width $content-max-width-l
  @media screen and (min-width $bp-channel-l)
    max-width $content-max-width-xl
  @media screen and (min-width $bp-channel-xl)
    max-width $content-max-width-xxl
  @media screen and (min-width $bp-channel-xxl)
    max-width $content-max-width-xxxl

.content > *
  padding $space-unit 0
  border-bottom solid 2px hsla(100,0%,90%,100%)

.content-top
  @media screen and (min-width $bp-channel-s)
    display flex
    gap $space-content
    align-items flex-start

.content-top .video-thumb
  flex 1 0 15rem
  margin 0

.content-top .top-text
  display none
  @media screen and (min-width $bp-channel-s)
    flex 1 1 auto
    display block

.content p
  color hsl(100, 0%,40%)

.content i
  font-size $base-font-size

.content-group .content-group-header
  display flex
  justify-content: space-between
  padding 0 0 $space-content 0

.content-group .content-group-header .fa-play
  margin 0 $space-icons-small 0 0

.content-group ul
  @media screen and (min-width $bp-channel-s)
    display grid
    grid-template-columns repeat(2, 1fr)
    gap $space-icons-small
  @media screen and (min-width $bp-channel-m)
    grid-template-columns repeat(3, 1fr)
  @media screen and (min-width $bp-channel-l)
    grid-template-columns repeat(4, 1fr)
  @media screen and (min-width $bp-channel-xl)
    grid-template-columns repeat(5, 1fr)
  @media screen and (min-width $bp-channel-xxl)
    grid-template-columns repeat(6, 1fr)

.content-group li
  padding-top $space-content 0

.content-group p:first-of-type
  padding $space-icons-small 0 0 0

.video-thumb
  margin $space-content 0

.video-thumb
  position relative
  width 100%
  z-index 0

.video-thumb .thumb-overlay
  display block
  visibility hidden
  position absolute
  padding 0.4rem
  margin 0.2rem
  border-radius $box-radius
  background black
  color white
  opacity 0.9
  font-size 1.2rem

.video-thumb:hover .thumb-overlay
  visibility visible

.video-thumb .time
  visibility visible
  bottom 0
  right 0
  padding 0.2rem 0.4rem
  font-weight 500
  font-size $base-font-size

.video-thumb .fa-clock
  top 0
  right 0

.video-thumb .fa-comment-dots
  top 2.2rem
  right 0

.channels div
  display flex
  flex-flow column nowrap
  align-items center

.channels img
  width 80px
  margin $space-content 0
  clip-path circle(50%)

.channels .subscribe
  margin $space-content 0 0 0
