@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
/* display: flex */
/* flex-flow: row */
/* align-items: center */
  background: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #a9a9a9;
}
img {
  width: 5rem;
}
aside {
  display: none;
}
a,
i {
  text-decoration: none;
  color: #4d4d4d;
}
.logo {
  font-weight: 700;
  color: #f00;
}
i {
  font-size: 1.1rem;
}
.nav-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.left {
  flex: 1 1 100%;
}
.center {
  flex: 0 1 0;
}
.right {
  flex: 1 1 100%;
}
.search {
  display: none;
}
.nav-top a,
.nav-top button {
  padding: 0.6rem;
}
