// stylus -w styles.styl -o styles.css

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap")

$bp-mobile = 30em
$bp-desktop = 45em

$space-icons = 0.5rem

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background: white
  font-family: "Fira Sans", sans-serif
  font-weight: 400
  color: darkgrey

img
  width: 5rem

aside
  display: none

a
i
  text-decoration: none
  color: hsla(100,0%,30%,100%)

.logo
  font-weight: 700
  color: red

i
  // display: block
  font-size: 1.1rem

.nav-top
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  padding: $space-icons

.left
  flex: 1 1 100%

.center
  flex: 0 1 auto

.right
  flex: 1 1 100%
  display: flex
  justify-content: flex-end

.search-form
  display: none
  @media screen and (min-width: $bp-mobile)
    // display: block
    display: inline-grid
    grid-template-columns: 1fr 3rem

.search-form
  // display: flex
  // flex-flow: row nowrap

.search-form *
  display: inline

.nav-top a
.nav-top button
  padding: $space-icons

.search-icon
  @media screen and (min-width: $bp-mobile)
    display: none
