@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: row;
  align-items: center;
  background: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: darkgrey;
}

img {
  width: 5rem;
}
