$bp-nav-top-xs = 27em
$bp-nav-top-s = 43em
$bp-nav-top-m = 65em

$top-row-height = 4rem

$sidebar-width-m = 4.4rem
$sidebar-width-l = 15rem

$bp-channel-s = 30em
$bp-channel-m = 45em
$bp-channel-l = 63em
$bp-channel-xl = 71em
$bp-channel-xxl = 89em

$content-max-width-s = 15rem
$content-max-width-m = $bp-channel-s - 2rem
$content-max-width-l = $bp-channel-m - 2rem
$content-max-width-xl = $bp-channel-l - 2rem
$content-max-width-xxl = $bp-channel-xl - 2rem
$content-max-width-xxxl = $bp-channel-xxl - 2rem

$space-content = 1rem
$space-unit = 1.5rem

$space-icons-small = 0.5rem
$space-icons-large = 0.8rem

$box-radius = 3px
$base-font-size = 0.9rem
$transition-duration = 0.25s

$color-text = hsla(100,0%,30%,100%)
$color-bg-m = hsla(100,0%,90%,100%)
$color-channel = #f9f9f9
$color-content = #f1f1f1
$color-active-links = hsl(100, 0%, 80%)
